In [1]:
import pandas as pd
from scipy.io import arff
from io import StringIO

df = pd.read_csv('data/csv/chronic_kidney_disease_full.csv')

df.describe().T

      count unique         top freq
age     400     77          60   19
bp      400     11          80  116
sg      400      6       1.020  106
al      400      7           0  199
su      400      7           0  290
rbc     400      3      normal  201
pc      400      3      normal  259
pcc     400      3  notpresent  354
ba      400      3  notpresent  374
bgr     400    147           ?   44
bu      400    119           ?   19
sc      400     87         1.2   40
sod     400     35           ?   87
pot     400     43           ?   88
hemo    400    119           ?   52
pcv     400     45           ?   70
wbcc    400     93           ?  105
rbcc    400     50           ?  130
htn     400      3          no  251
dm      400      6          no  258
cad     400      4          no  362
appet   400      3        good  317
pe      400      3          no  323
ane     400      3          no  339
class   400      3         ckd  248

In [2]:
df.shape

(400, 25)

In [6]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class'],
      dtype='object')

AttributeError: 'Series' object has no attribute 'isnan'